//color schemes
//1
$styleNumber: '';
$colorMain: #dd4454;
$colorMain2: #09445a;
$colorMain3: #dd9044;
$colorMain4: #ff0000;

$colorMain5:#4e1ed7;
$colorMain6:#28edaa;

$colorMain7:#3abcb9;
$colorMain8:#562cd9;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;