//color schemes
//2
$styleNumber: '2';
$colorMain: #ff0000;
$colorMain2: #dd4454;
$colorMain3: #dd9044;
$colorMain4: #ff0000;

$colorMain5:#39c5b7;
$colorMain6:#191b6e;

$colorMain7:#58a1d2;
$colorMain8:#191b6e;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;