//color schemes
//3
$styleNumber: '3';
$colorMain: #dd9044;
$colorMain2: #dd4454;
$colorMain3: #09445a;
$colorMain4: #ff0000;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;