@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?50721196');
    src: url('../fonts/fontello/fontello.eot?50721196#iefix') format('embedded-opentype'),
         url('../fonts/fontello/fontello.woff2?50721196') format('woff2'),
         url('../fonts/fontello/fontello.woff?50721196') format('woff'),
         url('../fonts/fontello/fontello.ttf?50721196') format('truetype'),
         url('../fonts/fontello/fontello.svg?50721196#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?50721196#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-cancel:before { content: '\e800'; } /* 'Ã® â‚¬' */
  .icon-shopping-bag:before { content: '\e801'; } /* 'Ã® Â' */
  .icon-minus:before { content: '\e802'; } /* 'Ã® â€š' */
  .icon-prohibition:before { content: '\e803'; } /* 'Ã® Æ’' */
  .icon-placeholder:before { content: '\e804'; } /* 'Ã® â€ž' */
  .icon-like:before { content: '\e805'; } /* 'Ã® â€¦' */
  .icon-star-full:before { content: '\e806'; } /* 'Ã® â€ ' */
  .icon-double-angle-pointing-to-right:before { content: '\e807'; } /* 'Ã® â€¡' */
  .icon-delivery-truck-1:before { content: '\e808'; } /* 'Ã® Ë†' */
  .icon-double-left-chevron:before { content: '\e809'; } /* 'Ã® â€°' */
  .icon-clock-1:before { content: '\e80a'; } /* 'Ã® Å ' */
  .icon-pencil:before { content: '\e80b'; } /* 'Ã® â€¹' */
  .icon-linkedin:before { content: '\e80c'; } /* 'Ã® Å’' */
  .icon-twitter:before { content: '\e80d'; } /* 'Ã® Â' */
  .icon-skype:before { content: '\e80e'; } /* 'Ã® Å½' */
  .icon-pinterest:before { content: '\e80f'; } /* 'Ã® Â' */
  .icon-search:before { content: '\e810'; } /* 'Ã® Â' */
  .icon-gplus:before { content: '\e811'; } /* 'Ã® â€˜' */
  .icon-rss:before { content: '\e812'; } /* 'Ã® â€™' */
  .icon-youtube:before { content: '\e813'; } /* 'Ã® â€œ' */
  .icon-vimeo:before { content: '\e814'; } /* 'Ã® â€' */
  .icon-instagram:before { content: '\e815'; } /* 'Ã® â€¢' */
  .icon-user:before { content: '\e816'; } /* 'Ã® â€“' */
  .icon-calendar:before { content: '\e817'; } /* 'Ã® â€”' */
  .icon-food:before { content: '\e818'; } /* 'Ã® Ëœ' */
  .icon-customer-service:before { content: '\e819'; } /* 'Ã® â„¢' */
  .icon-phone-call:before { content: '\e81a'; } /* 'Ã® Å¡' */
  .icon-refresh:before { content: '\e81b'; } /* 'Ã® â€º' */
  .icon-basket:before { content: '\e81c'; } /* 'Ã® Å“' */
  .icon-navigate-up-arrows:before { content: '\e81d'; } /* 'Ã® Â' */
  .icon-spa:before { content: '\e81e'; } /* 'Ã® Å¾' */
  .icon-order:before { content: '\e81f'; } /* 'Ã® Å¸' */
  .icon-arrow-down-sign-to-navigate:before { content: '\e820'; } /* 'Ã®  ' */
  .icon-arrow-point-to-right:before { content: '\e821'; } /* 'Ã® Â¡' */
  .icon-question-mark:before { content: '\e822'; } /* 'Ã® Â¢' */
  .icon-angle-arrow-down:before { content: '\e823'; } /* 'Ã® Â£' */
  .icon-quotations:before { content: '\e824'; } /* 'Ã® Â¤' */
  .icon-envelope:before { content: '\e825'; } /* 'Ã® Â¥' */
  .icon-telephone:before { content: '\e826'; } /* 'Ã® Â¦' */
  .icon-list-1:before { content: '\e827'; } /* 'Ã® Â§' */
  .icon-placeholder-1:before { content: '\e828'; } /* 'Ã® Â¨' */
  .icon-candy:before { content: '\e829'; } /* 'Ã® Â©' */
  .icon-search-1:before { content: '\e82a'; } /* 'Ã® Âª' */
  .icon-cigar:before { content: '\e82b'; } /* 'Ã® Â«' */
  .icon-tags:before { content: '\e82c'; } /* 'Ã® Â¬' */
  .icon-close-1:before { content: '\e82d'; } /* 'Ã® Â­' */
  .icon-comment-white-oval-bubble:before { content: '\e82e'; } /* 'Ã® Â®' */
  .icon-right-arrow-1:before { content: '\e82f'; } /* 'Ã® Â¯' */
  .icon-cigarette:before { content: '\e830'; } /* 'Ã® Â°' */
  .icon-conserve:before { content: '\e831'; } /* 'Ã® Â±' */
  .icon-bookmark-button:before { content: '\e832'; } /* 'Ã® Â²' */
  .icon-delete:before { content: '\e833'; } /* 'Ã® Â³' */
  .icon-back:before { content: '\e834'; } /* 'Ã® Â´' */
  .icon-checked-1:before { content: '\e835'; } /* 'Ã® Âµ' */
  .icon-login:before { content: '\e836'; } /* 'Ã® Â¶' */
  .icon-delivery-package-opened:before { content: '\e837'; } /* 'Ã® Â·' */
  .icon-logout:before { content: '\e838'; } /* 'Ã® Â¸' */
  .icon-menu-1:before { content: '\e839'; } /* 'Ã® Â¹' */
  .icon-menu-button-of-three-horizontal-lines:before { content: '\e83a'; } /* 'Ã® Âº' */
  .icon-security-on:before { content: '\e83b'; } /* 'Ã® Â»' */
  .icon-lotus:before { content: '\e83c'; } /* 'Ã® Â¼' */
  .icon-clock-2:before { content: '\e83d'; } /* 'Ã® Â½' */
  .icon-shop-basket:before { content: '\e83e'; } /* 'Ã® Â¾' */
  .icon-list:before { content: '\e83f'; } /* 'Ã® Â¿' */
  .icon-icon:before { content: '\e840'; } /* 'Ã®Â¡â‚¬' */
  .icon-up-arrow-1:before { content: '\e841'; } /* 'Ã®Â¡Â' */
  .icon-clock:before { content: '\e842'; } /* 'Ã®Â¡â€š' */
  .icon-pencil-1:before { content: '\e843'; } /* 'Ã®Â¡Æ’' */
  .icon-left-arrow:before { content: '\e844'; } /* 'Ã®Â¡â€ž' */
  .icon-right-arrow:before { content: '\e845'; } /* 'Ã®Â¡â€¦' */
  .icon-up-arrow:before { content: '\e846'; } /* 'Ã®Â¡â€ ' */
  .icon-avatar:before { content: '\e847'; } /* 'Ã®Â¡â€¡' */
  .icon-headache-1:before { content: '\e848'; } /* 'Ã®Â¡Ë†' */
  .icon-herbal:before { content: '\e849'; } /* 'Ã®Â¡â€°' */
  .icon-profile:before { content: '\e84a'; } /* 'Ã®Â¡Å ' */
  .icon-location:before { content: '\e84b'; } /* 'Ã®Â¡â€¹' */
  .icon-musica-searcher:before { content: '\e84c'; } /* 'Ã®Â¡Å’' */
  .icon-shopping-cart:before { content: '\e84d'; } /* 'Ã®Â¡Â' */
  .icon-eye:before { content: '\e84e'; } /* 'Ã®Â¡Å½' */
  .icon-leaf:before { content: '\e84f'; } /* 'Ã®Â¡Â' */
  .icon-globe:before { content: '\e850'; } /* 'Ã®Â¡Â' */
  .icon-shopping-bag-1:before { content: '\e851'; } /* 'Ã®Â¡â€˜' */
  .icon-users-1:before { content: '\e852'; } /* 'Ã®Â¡â€™' */
  .icon-phone:before { content: '\e853'; } /* 'Ã®Â¡â€œ' */
  .icon-shield-1:before { content: '\e854'; } /* 'Ã®Â¡â€' */
  .icon-switch-arrows:before { content: '\e855'; } /* 'Ã®Â¡â€¢' */
  .icon-star:before { content: '\e856'; } /* 'Ã®Â¡â€“' */
  .icon-marijuana:before { content: '\e857'; } /* 'Ã®Â¡â€”' */
  .icon-skip-track:before { content: '\e858'; } /* 'Ã®Â¡Ëœ' */
  .icon-plus:before { content: '\e859'; } /* 'Ã®Â¡â„¢' */
  .icon-magnifying-glass:before { content: '\e85a'; } /* 'Ã®Â¡Å¡' */
  .icon-shopping-cart-1:before { content: '\e85b'; } /* 'Ã®Â¡â€º' */
  .icon-down-chevron:before { content: '\e85c'; } /* 'Ã®Â¡Å“' */
  .icon-remove:before { content: '\e85d'; } /* 'Ã®Â¡Â' */
  .icon-place-localizer:before { content: '\e85e'; } /* 'Ã®Â¡Å¾' */
  .icon-smartphone:before { content: '\e85f'; } /* 'Ã®Â¡Å¸' */
  .icon-return:before { content: '\e860'; } /* 'Ã®Â¡ ' */
  .icon-menu:before { content: '\e861'; } /* 'Ã®Â¡Â¡' */
  .icon-right-dir:before { content: '\e862'; } /* 'Ã®Â¡Â¢' */
  .icon-tags-1:before { content: '\e863'; } /* 'Ã®Â¡Â£' */
  .icon-mouse:before { content: '\e864'; } /* 'Ã®Â¡Â¤' */
  .icon-bar-menu:before { content: '\e865'; } /* 'Ã®Â¡Â¥' */
  .icon-grid:before { content: '\e866'; } /* 'Ã®Â¡Â¦' */
  .icon-dot:before { content: '\e867'; } /* 'Ã®Â¡Â§' */
  .icon-5-point-star:before { content: '\e868'; } /* 'Ã®Â¡Â¨' */
  .icon-down-dir:before { content: '\e869'; } /* 'Ã®Â¡Â©' */
  .icon-up-dir:before { content: '\e86a'; } /* 'Ã®Â¡Âª' */
  .icon-timer:before { content: '\e86b'; } /* 'Ã®Â¡Â«' */
  .icon-checked:before { content: '\e86c'; } /* 'Ã®Â¡Â¬' */
  .icon-email:before { content: '\e86d'; } /* 'Ã®Â¡Â­' */
  .icon-distance:before { content: '\e86e'; } /* 'Ã®Â¡Â®' */
  .icon-call-center:before { content: '\e86f'; } /* 'Ã®Â¡Â¯' */
  .icon-down-arrow:before { content: '\e870'; } /* 'Ã®Â¡Â°' */
  .icon-down-arrow-1:before { content: '\e871'; } /* 'Ã®Â¡Â±' */
  .icon-fax:before { content: '\e872'; } /* 'Ã®Â¡Â²' */
  .icon-package-1:before { content: '\e87d'; } /* 'Ã®Â¡Â½' */
  .icon-pinterest-1:before { content: '\e880'; } /* 'Ã®Â¢â‚¬' */
  .icon-pointed-star:before { content: '\e882'; } /* 'Ã®Â¢â€š' */
  .icon-tick:before { content: '\e88b'; } /* 'Ã®Â¢â€¹' */
  .icon-close:before { content: '\e88c'; } /* 'Ã®Â¢Å’' */
  .icon-angle-double-right:before { content: '\f101'; } /* 'Ã¯â€žÂ' */
  .icon-angle-left:before { content: '\f104'; } /* 'Ã¯â€žâ€ž' */
  .icon-angle-right:before { content: '\f105'; } /* 'Ã¯â€žâ€¦' */
  .icon-angle-up:before { content: '\f106'; } /* 'Ã¯â€žâ€ ' */
  .icon-angle-down:before { content: '\f107'; } /* 'Ã¯â€žâ€¡' */
  .icon-quote-right:before { content: '\f10e'; } /* 'Ã¯â€žÅ½' */
  .icon-reply:before { content: '\f112'; } /* 'Ã¯â€žâ€™' */
  .icon-level-down:before { content: '\f149'; } /* 'Ã¯â€¦â€°' */
  .icon-right-circled2:before { content: '\f18e'; } /* 'Ã¯â€ Å½' */
  .icon-plug:before { content: '\f1e6'; } /* 'Ã¯â€¡Â¦' */
  .icon-internet-explorer:before { content: '\f26b'; } /* 'Ã¯â€°Â«' */
  .icon-facebook:before { content: '\f300'; } /* 'Ã¯Å’â‚¬' */