/*
 ** Shop
 */
 @keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transform-origin: center center;
    }
    100% {
      -moz-transform: rotate(359deg);
      -o-transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      transform-origin: center center;
    }
  }
  .woocommerce:before, .woocommerce:after {
    display: block;
    content: '';
    clear: both;
  }
  .woocommerce-breadcrumb, .woocommerce-products-header {
    display: none;
  }
  .woocommerce-notices-wrapper {
    width: 100%;
  }
  .woocommerce-notices-wrapper ul li {
    list-style: none;
  }
  .woocommerce-error, .woocommerce-info, .woocommerce-message {
    margin: 0 0 3em !important;
    padding: 1.7em 1.5em 1.7em 1.5em;
    border-left: 5px solid #dd4454;
    background-color: rgba(150, 150, 150, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 575px) {
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button {
      margin-bottom: 20px;
    }
  }
  .woocommerce-info {
    border-color: #00b2f0;
  }
  .woocommerce-error {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .woocommerce-result-count {
    display: inline-block;
    margin-bottom: 0;
  }
  .woocommerce-result-count + form {
    display: inline-block;
  }
  @media (min-width: 576px) {
    .woocommerce-result-count + form {
      float: right;
    }
  }
  .products-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  @media (max-width: 575px) {
    .products-selection {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: center;
    }
    .products-selection p {
      margin-bottom: 20px;
    }
  }
  .products {
    margin: 0 -15px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    clear: both;
  }
  .products.related {
    margin: 0;
  }
  .products .product {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  .products .product .product-inner {
    transition: all 0.6s ease-in-out;
    border: 2px solid #f2f5f7;
    overflow: hidden;
    height: 100%;
    position: relative;
    top: 0;
    background: #fff;
  }
  .products .product .product-inner > a.woocommerce-LoopProduct-link {
    display: flex;
    justify-content: center;
  }
  .products .product .product-inner:hover {
    box-shadow: -1px 5px 14px 6px rgba(0, 0, 0, 0.2);
    top: -5px;
  }
  .products .product .product-inner .product-wrap {
    padding: 30px;
  }
  .products .product .product-inner .product-wrap .wrap-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .products .product .wc-forward {
    font-size: 0;
  }
  .products .product .wc-forward:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    padding-left: 0.5em;
    font-size: 14px;
    font-weight: 900;
  }
  .products .product .price {
    margin: 0;
    opacity: 1;
    font-size: 16px;
    color: #dd4454;
  }
  .products .product:hover .button {
    top: 25%;
  }
  .products .product .button {
    color: #999;
    display: inline-block;
    min-width: auto;
    padding: 0;
    margin-bottom: 0;
    background: none;
    position: relative;
    font-size: 0;
    width: 20px;
    height: 20px;
  }
  .products .product .button.product_type_grouped:after {
    content: '\f247';
    font-family: 'FontAwesome';
    position: absolute;
    color: #042b3d;
    font-size: 20px;
  }
  .products .product .button.product_type_external:after {
    content: '\f08e';
    font-family: 'FontAwesome';
    position: absolute;
    color: #042b3d;
    font-size: 20px;
  }
  .products .product .button.add_to_cart_button:after {
    content: '\f291';
    font-family: 'FontAwesome';
    position: absolute;
    color: #042b3d;
    font-size: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .products .product .button.add_to_cart_button.product_type_variable:after {
    content: '\f06e';
  }
  .products .product .button.add_to_cart_button.loading:after {
    content: '\f013';
    -moz-animation: spin 4s infinite linear;
    -o-animation: spin 4s infinite linear;
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
  }
  .products .product .button:hover:after {
    color: #dd4454;
    background: transparent;
  }
  .products .product > a > img {
    width: 100%;
  }
  .products .product h2 {
    line-height: 1.1;
    font-size: 24px;
    letter-spacing: 0px;
    margin: 0;
    text-transform: none;
    text-align: left;
  }
  .products .product h2 a:hover {
    color: #dd4454;
  }
  .products .product .onsale {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 1em;
    color: #fff;
    background-color: #dd4454;
    z-index: 2;
  }
  .products .product .onsale:before {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #c92536;
    border-top: 7px solid #c92536;
  }
  .products .product .star-rating {
    margin: 10px 0 0;
  }
  .products.columns-1 .product {
    width: 100%;
    padding-bottom: 0;
  }
  .products.columns-1 .product .product-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .products.columns-1 .product .product-inner > a.woocommerce-LoopProduct-link {
    flex-basis: 30%;
  }
  @media (max-width: 575px) {
    .products.columns-1 .product .product-inner {
      flex-direction: column;
    }
  }
  .products.columns-1 .product .product-wrap {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    border-top: none;
    margin-top: 0;
  }
  .products.columns-2 .product {
    width: 50%;
  }
  .products.columns-3 .product {
    width: 33.333333%;
  }
  @media (max-width: 1200px) and (min-width: 576px) {
    .products.columns-3 .product {
      width: 50%;
    }
  }
  @media (max-width: 575px) {
    .products.columns-3 .product {
      width: 100%;
    }
  }
  .products.columns-4 {
    margin: 0 -10px -30px;
  }
  .products.columns-4 .product {
    width: 25%;
    padding: 0 10px;
  }
  @media (max-width: 1200px) and (min-width: 576px) {
    .products.columns-4 .product {
      width: 50%;
      padding: 0 20px;
    }
  }
  @media (max-width: 575px) {
    .products.columns-4 .product {
      width: 100%;
      padding: 0 20px;
    }
  }
  .products.columns-5 {
    margin: 0 -5px;
  }
  .products.columns-5 .product {
    width: 20%;
    padding: 0 5px;
  }
  .products.columns-5 .product .button, .products.columns-5 .product [type="submit"] {
    min-width: 125px;
    top: -150px;
    padding: 15px 20px;
  }
  .products.columns-5 .product:hover .button, .products.columns-5 .product:hover [type="submit"] {
    top: 25%;
  }
  @media (max-width: 1200px) and (min-width: 576px) {
    .products.columns-5 .product {
      width: 50%;
      padding: 0 20px;
    }
  }
  @media (max-width: 575px) {
    .products.columns-5 .product {
      width: 100%;
      padding: 0 20px;
    }
  }
  .products.columns-6 .product {
    width: 16.666667%;
  }
  @media (max-width: 400px) {
    .products .product {
      width: 100% !important;
    }
  }
  .woocommerce-additional-fields h3 {
    margin-top: 35px;
  }
  .price {
    display: block;
    margin: 0.9em 0 0.9em;
    font-weight: 700;
    opacity: 0.65;
  }
  .price del {
    opacity: 0.7;
    padding-right: 1em;
  }
  .button.checkout, [type="submit"].checkout {
    background-color: transparent;
    color: #042b3d;
  }
  .button.checkout:hover, [type="submit"].checkout:hover {
    color: #fff;
    background-color: #dd4454;
    border-color: #dd4454;
  }
  .button:hover, [type="submit"]:hover {
    color: #fff;
    background-color: #09445a;
    border-color: #09445a;
  }
  .ds .button, .ds [type="submit"] {
    color: #fff;
  }
  .woocommerce-orders-table__row .button, .woocommerce-orders-table__row [type="submit"], .woocommerce-Message .button, .woocommerce-Message [type="submit"], .woocommerce-message .button, .woocommerce-message [type="submit"] {
    padding: 7px 16px;
    display: inline-block;
    margin-top: 0;
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
    background-size: 200% auto;
    transition: 0.5s;
  }
  .woocommerce-orders-table__row .button:hover, .woocommerce-orders-table__row [type="submit"]:hover, .woocommerce-Message .button:hover, .woocommerce-Message [type="submit"]:hover, .woocommerce-message .button:hover, .woocommerce-message [type="submit"]:hover {
    background-position: right center;
    color: #fff;
  }
  .add_to_cart_button:before {
    display: none;
  }
  .add_to_cart_button.loading:before {
    animation: spin 2s infinite linear;
    content: "\f021";
  }
  .add_to_cart_button.product_type_variable:before {
    content: "\f1de";
  }
  .woocommerce-Address-title h3 {
    font-size: 36px;
  }
  .woocommerce-ResetPassword .form-row:last-child {
    margin-bottom: 0;
  }
  .woocommerce-form-login {
    display: flex;
    flex-direction: column;
  }
  .woocommerce-form-login .form-row:nth-child(3) {
    margin-bottom: 0;
    order: 4;
  }
  .woocommerce-form-login .woocommerce-LostPassword.lost_password {
    margin-bottom: 20px;
  }
  .woocommerce h2 {
    margin-top: 0;
    text-align: center;
  }
  @media (min-width: 1200px) {
    .woocommerce-page.post-type-archive-product .column-main.col-lg-7.col-xl-8, .woocommerce-page.single-product .column-main.col-lg-7.col-xl-8, .woocommerce-page.tax-product_cat .column-main.col-lg-7.col-xl-8 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .woocommerce-page.post-type-archive-product .column-sidebar.col-lg-5.col-xl-4, .woocommerce-page.single-product .column-sidebar.col-lg-5.col-xl-4, .woocommerce-page.tax-product_cat .column-sidebar.col-lg-5.col-xl-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .woocommerce-page.post-type-archive-product .p-40, .woocommerce-page.single-product .p-40, .woocommerce-page.tax-product_cat .p-40 {
    padding: 40px 20px;
  }
  .woocommerce-address-fields__field-wrapper, .woocommerce-privacy-policy-text {
    margin-bottom: 60px;
  }
  @media (max-width: 575px) {
    .woocommerce-address-fields__field-wrapper, .woocommerce-privacy-policy-text {
      margin-bottom: 30px;
    }
  }
  .woocommerce-EditAccountForm input[type="submit"], .woocommerce-MyAccount-content form input[type="submit"], .woocommerce-form-login input[type="submit"], .woocommerce-ResetPassword input[type="submit"], form.woocommerce-checkout input[type="submit"] {
    margin-top: 60px;
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
    padding: 22px 35px;
    font-weight: 500;
    min-width: 200px;
  }
  .woocommerce-EditAccountForm p.form-row:last-child, .woocommerce-MyAccount-content form p.form-row:last-child, .woocommerce-form-login p.form-row:last-child, .woocommerce-ResetPassword p.form-row:last-child, form.woocommerce-checkout p.form-row:last-child {
    margin-bottom: 0;
  }
  .woocommerce-EditAccountForm p.form-row.notes, .woocommerce-MyAccount-content form p.form-row.notes, .woocommerce-form-login p.form-row.notes, .woocommerce-ResetPassword p.form-row.notes, form.woocommerce-checkout p.form-row.notes, .woocommerce-EditAccountForm p.form-row.validate-phone, .woocommerce-MyAccount-content form p.form-row.validate-phone, .woocommerce-form-login p.form-row.validate-phone, .woocommerce-ResetPassword p.form-row.validate-phone, form.woocommerce-checkout p.form-row.validate-phone, .woocommerce-EditAccountForm p.form-row.validate-email, .woocommerce-MyAccount-content form p.form-row.validate-email, .woocommerce-form-login p.form-row.validate-email, .woocommerce-ResetPassword p.form-row.validate-email, form.woocommerce-checkout p.form-row.validate-email {
    clear: both;
    width: 100%;
  }
  .woocommerce-EditAccountForm .col2-set .col-1 .woocommerce-billing-fields:after, .woocommerce-MyAccount-content form .col2-set .col-1 .woocommerce-billing-fields:after, .woocommerce-form-login .col2-set .col-1 .woocommerce-billing-fields:after, .woocommerce-ResetPassword .col2-set .col-1 .woocommerce-billing-fields:after, form.woocommerce-checkout .col2-set .col-1 .woocommerce-billing-fields:after, .woocommerce-EditAccountForm .col2-set .col-2 .woocommerce-billing-fields:after, .woocommerce-MyAccount-content form .col2-set .col-2 .woocommerce-billing-fields:after, .woocommerce-form-login .col2-set .col-2 .woocommerce-billing-fields:after, .woocommerce-ResetPassword .col2-set .col-2 .woocommerce-billing-fields:after, form.woocommerce-checkout .col2-set .col-2 .woocommerce-billing-fields:after {
    content: '';
    display: block;
    clear: both;
  }
  .woocommerce-EditAccountForm h3, .woocommerce-MyAccount-content form h3, .woocommerce-form-login h3, .woocommerce-ResetPassword h3, form.woocommerce-checkout h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .woocommerce-EditAccountForm fieldset, .woocommerce-MyAccount-content form fieldset, .woocommerce-form-login fieldset, .woocommerce-ResetPassword fieldset, form.woocommerce-checkout fieldset {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  @media (max-width: 575px) {
    .woocommerce-EditAccountForm fieldset, .woocommerce-MyAccount-content form fieldset, .woocommerce-form-login fieldset, .woocommerce-ResetPassword fieldset, form.woocommerce-checkout fieldset {
      margin-bottom: 30px;
    }
  }
  .woocommerce-EditAccountForm legend, .woocommerce-MyAccount-content form legend, .woocommerce-form-login legend, .woocommerce-ResetPassword legend, form.woocommerce-checkout legend {
    display: inline-block;
    font-size: 40px;
    margin-bottom: 30px;
    color: #09445a;
    padding-top: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    line-height: 1;
  }
  .woocommerce-EditAccountForm .select2-selection.select2-selection--single, .woocommerce-MyAccount-content form .select2-selection.select2-selection--single, .woocommerce-form-login .select2-selection.select2-selection--single, .woocommerce-ResetPassword .select2-selection.select2-selection--single, form.woocommerce-checkout .select2-selection.select2-selection--single {
    border: none;
    height: 50px;
  }
  .woocommerce-EditAccountForm .select2-selection.select2-selection--single .select2-selection__rendered, .woocommerce-MyAccount-content form .select2-selection.select2-selection--single .select2-selection__rendered, .woocommerce-form-login .select2-selection.select2-selection--single .select2-selection__rendered, .woocommerce-ResetPassword .select2-selection.select2-selection--single .select2-selection__rendered, form.woocommerce-checkout .select2-selection.select2-selection--single .select2-selection__rendered {
    line-height: 30px;
    padding: 8px 30px;
    border: 2px solid #f2f5f7;
    color: #999;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    box-shadow: none;
    height: 50px;
  }
  .woocommerce-EditAccountForm .select2-selection.select2-selection--single .select2-selection__arrow b, .woocommerce-MyAccount-content form .select2-selection.select2-selection--single .select2-selection__arrow b, .woocommerce-form-login .select2-selection.select2-selection--single .select2-selection__arrow b, .woocommerce-ResetPassword .select2-selection.select2-selection--single .select2-selection__arrow b, form.woocommerce-checkout .select2-selection.select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  .woocommerce-EditAccountForm select, .woocommerce-MyAccount-content form select, .woocommerce-form-login select, .woocommerce-ResetPassword select, form.woocommerce-checkout select, .woocommerce-EditAccountForm .select2-selection__rendered, .woocommerce-MyAccount-content form .select2-selection__rendered, .woocommerce-form-login .select2-selection__rendered, .woocommerce-ResetPassword .select2-selection__rendered, form.woocommerce-checkout .select2-selection__rendered {
    -webkit-appearance: none;
    background-image: url(../img/select-arrow.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
  }
  .woocommerce-EditAccountForm textarea:-moz-placeholder, .woocommerce-MyAccount-content form textarea:-moz-placeholder, .woocommerce-form-login textarea:-moz-placeholder, .woocommerce-ResetPassword textarea:-moz-placeholder, form.woocommerce-checkout textarea:-moz-placeholder, .woocommerce-EditAccountForm input:-moz-placeholder, .woocommerce-MyAccount-content form input:-moz-placeholder, .woocommerce-form-login input:-moz-placeholder, .woocommerce-ResetPassword input:-moz-placeholder, form.woocommerce-checkout input:-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .woocommerce-EditAccountForm textarea::-moz-placeholder, .woocommerce-MyAccount-content form textarea::-moz-placeholder, .woocommerce-form-login textarea::-moz-placeholder, .woocommerce-ResetPassword textarea::-moz-placeholder, form.woocommerce-checkout textarea::-moz-placeholder, .woocommerce-EditAccountForm input::-moz-placeholder, .woocommerce-MyAccount-content form input::-moz-placeholder, .woocommerce-form-login input::-moz-placeholder, .woocommerce-ResetPassword input::-moz-placeholder, form.woocommerce-checkout input::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .woocommerce-EditAccountForm textarea:-ms-input-placeholder, .woocommerce-MyAccount-content form textarea:-ms-input-placeholder, .woocommerce-form-login textarea:-ms-input-placeholder, .woocommerce-ResetPassword textarea:-ms-input-placeholder, form.woocommerce-checkout textarea:-ms-input-placeholder, .woocommerce-EditAccountForm input:-ms-input-placeholder, .woocommerce-MyAccount-content form input:-ms-input-placeholder, .woocommerce-form-login input:-ms-input-placeholder, .woocommerce-ResetPassword input:-ms-input-placeholder, form.woocommerce-checkout input:-ms-input-placeholder {
    opacity: 1;
    color: #999;
  }
  .woocommerce-EditAccountForm textarea::-webkit-input-placeholder, .woocommerce-MyAccount-content form textarea::-webkit-input-placeholder, .woocommerce-form-login textarea::-webkit-input-placeholder, .woocommerce-ResetPassword textarea::-webkit-input-placeholder, form.woocommerce-checkout textarea::-webkit-input-placeholder, .woocommerce-EditAccountForm input::-webkit-input-placeholder, .woocommerce-MyAccount-content form input::-webkit-input-placeholder, .woocommerce-form-login input::-webkit-input-placeholder, .woocommerce-ResetPassword input::-webkit-input-placeholder, form.woocommerce-checkout input::-webkit-input-placeholder {
    opacity: 1;
    color: #999;
  }
  /*shop pagination*/
  .woocommerce-pagination {
    text-align: center;
  }
  .woocommerce-pagination ul.page-numbers {
    padding: 0;
    list-style: none;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (max-width: 575px) {
    .woocommerce-pagination ul.page-numbers {
      margin-top: 20px;
    }
  }
  .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    padding: 0;
  }
  .woocommerce-pagination ul.page-numbers span, .woocommerce-pagination ul.page-numbers a {
    background: #f2f5f7;
    border-radius: 50% !important;
    color: #999;
    margin-right: 4px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0;
  }
  .woocommerce-pagination ul.page-numbers span:hover, .woocommerce-pagination ul.page-numbers a:hover {
    background-image: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
    color: #fff;
  }
  .woocommerce-pagination ul.page-numbers span.next, .woocommerce-pagination ul.page-numbers a.next, .woocommerce-pagination ul.page-numbers span.prev, .woocommerce-pagination ul.page-numbers a.prev {
    font-size: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  .woocommerce-pagination ul.page-numbers span.next:after, .woocommerce-pagination ul.page-numbers a.next:after, .woocommerce-pagination ul.page-numbers span.prev:after, .woocommerce-pagination ul.page-numbers a.prev:after {
    content: '\f054';
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
  .woocommerce-pagination ul.page-numbers span.prev:after, .woocommerce-pagination ul.page-numbers a.prev:after {
    content: '\f053';
  }
  .woocommerce-pagination ul.page-numbers span {
    background-image: linear-gradient(to top, #dd4454 0%, #dd9044 100%);
    color: #fff;
    cursor: not-allowed;
  }
  /*single product*/
  .product .images {
    position: relative;
    margin-bottom: 3em;
  }
  .product .images .flex-viewport {
    border: 2px solid #f2f5f7;
  }
  .product .images .flex-control-thumbs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .product .images .flex-control-thumbs li {
    border: 2px solid #f2f5f7;
    width: 22%;
  }
  .product .images .flex-active-slide img {
    width: 100%;
  }
  .product .images .flex-direction-nav {
    display: none;
  }
  .product .images figure {
    max-width: none;
  }
  @media (min-width: 576px) {
    .product .images {
      width: 47%;
      float: left;
    }
  }
  .product .summary {
    position: relative;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
  }
  .product .summary .woocommerce-product-details__short-description {
    margin: 0 0 1.5em;
  }
  .product .summary .add-to-cart .button {
    position: static;
    transform: none;
  }
  .product .summary table tr td {
    border: none;
  }
  .product .summary table tr td .button {
    margin-top: 0;
  }
  .product .summary table tr td.value {
    position: relative;
  }
  .product .summary table tr td.value .reset_variations {
    position: absolute;
    right: 0;
    top: 0;
  }
  .product .summary table tr td.woocommerce-grouped-product-list-item__price .amount {
    margin: 0 10px;
    color: #dd4454;
    font-weight: 700;
  }
  .product .summary table tr td.woocommerce-grouped-product-list-item__label {
    width: 35%;
  }
  .product .summary table tr td.woocommerce-grouped-product-list-item__label label {
    display: block !important;
    margin-bottom: 0;
    font-weight: 700;
  }
  .product .summary .product-description-short {
    margin-bottom: 20px;
  }
  .product .summary .woocommerce-product-rating {
    margin-bottom: 20px;
  }
  .product .summary .desc-wrap {
    display: flex;
  }
  .product .summary .desc-wrap span {
    min-width: 50px;
  }
  .product .summary:after {
    content: '';
    display: block;
    clear: both;
  }
  @media (min-width: 576px) {
    .product .summary {
      width: 47%;
      float: right;
    }
  }
  .product .summary .entry-title {
    display: none;
  }
  .product .summary .woocommerce-product-rating {
    line-height: 1;
    position: relative;
  }
  .product .summary form {
    float: left;
  }
  .product .summary form .add-to-cart {
    display: flex;
    flex-wrap: wrap;
  }
  .product .summary form td {
    padding: 0 0 20px 0;
  }
  .product .summary form td .quantity {
    margin-right: 0;
  }
  .product .summary form .button {
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
    padding: 22px 25px;
    border-radius: 5em;
    font-weight: 500;
    min-width: 140px;
  }
  .product .summary .price {
    color: #dd4454;
    opacity: 1;
  }
  .product .summary .woocommerce-review-link {
    display: none;
    margin-right: 90px;
  }
  .product .summary .variations {
    margin: 0 0 1.5em;
  }
  .product .summary .variations tr {
    display: block;
    margin-bottom: 1em;
    border: none;
    text-align: left;
  }
  .product .summary .variations td {
    display: block;
    padding: 0;
    border: none;
    text-align: left;
  }
  .product .summary .variations td select {
    width: 85%;
  }
  @media (max-width: 768px) {
    .product .summary .variations td select {
      width: 84%;
    }
  }
  .product .summary .variations label:after {
    content: ':';
  }
  .product .summary .variations .reset_variations {
    font-size: 0;
  }
  .product .summary .variations .reset_variations:before {
    font-size: 16px;
    padding: 0.5em;
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f05e";
    font-weight: 900;
  }
  .product .summary .single_variation_wrap {
    margin-top: 10px;
  }
  .product .summary .single_variation_wrap > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .product .summary .quantity {
    display: inline-block;
    position: relative;
    max-width: 80px;
    margin-right: 40px;
  }
  @media (max-width: 1200px) and (min-width: 992px) {
    .product .summary .quantity {
      margin-bottom: 40px;
    }
  }
  .product .summary .quantity .qty {
    padding: 0 30px 0 20px;
    height: 60px !important;
    text-align: center;
  }
  .product .summary .quantity + button {
    top: -1px;
    position: relative;
    width: auto;
  }
  .product .summary .product_meta {
    display: flex;
    flex-direction: column;
  }
  .product .summary .product_meta span {
    margin-bottom: 0;
    color: #999;
  }
  .product .summary .product_meta span a:hover {
    color: #dd4454;
  }
  .product .summary .product_meta span > span, .product .summary .product_meta span > a {
    margin-left: 10px;
    display: inline-block;
    color: #042b3d;
    font-weight: 700;
  }
  .shop_attributes th {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
  }
  /*shop tabs*/
  .woocommerce-tabs {
    clear: both;
    margin: 4em 0;
  }
  .woocommerce-tabs ul.tabs {
    display: flex;
    margin-bottom: 0;
  }
  @media (max-width: 1200px) and (min-width: 992px) {
    .woocommerce-tabs ul.tabs {
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    .woocommerce-tabs ul.tabs {
      flex-direction: column;
    }
  }
  .woocommerce-tabs ul.tabs li + li {
    border-top: none;
  }
  .woocommerce-tabs ul.tabs li {
    display: block;
    position: relative;
    padding-bottom: 0;
    padding: 0;
  }
  @media (max-width: 1200px) and (min-width: 992px) {
    .woocommerce-tabs ul.tabs li {
      width: 100%;
    }
  }
  @media (max-width: 575px) {
    .woocommerce-tabs ul.tabs li {
      width: 100%;
    }
  }
  .woocommerce-tabs ul.tabs li.active:after {
    opacity: 1;
    right: 0.4em;
  }
  .woocommerce-tabs ul.tabs li.active a {
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 100%);
    color: #fff;
  }
  .woocommerce-tabs ul.tabs li a {
    border-radius: 5px 5px 0 0;
    margin-right: 4px;
    padding: 22px 42px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    background: #f2f5f7;
    color: #09445a;
    display: block;
    border: none;
    font-weight: 500;
  }
  @media (max-width: 1200px) and (min-width: 992px) {
    .woocommerce-tabs ul.tabs li a {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    .woocommerce-tabs ul.tabs li a {
      min-width: 200px;
    }
  }
  @media (max-width: 991px) {
    .woocommerce-tabs ul.tabs li a {
      min-width: 150px;
    }
  }
  @media (max-width: 575px) {
    .woocommerce-tabs ul.tabs li a {
      width: 100%;
    }
  }
  .woocommerce-tabs ul.tabs li a:hover {
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 100%);
    color: #fff;
  }
  .woocommerce-tabs .panel {
    border: 1px solid #f2f5f7;
    padding: 40px;
  }
  @media (max-width: 575px) {
    .woocommerce-tabs .panel {
      padding: 30px;
    }
  }
  .woocommerce-tabs .panel h2 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 1.3em;
    line-height: 1;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 30px;
  }
  @media (min-width: 768px) {
    .woocommerce-tabs ul.tabs {
      display: flex;
    }
    .woocommerce-tabs ul.tabs li a {
      margin-bottom: 0;
    }
  }
  /*reviews*/
  .commentlist {
    padding: 0;
    list-style: none;
  }
  .comment_container {
    position: relative;
    padding: 0px 30px 0px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .comment_container > img {
    max-width: 50px;
    position: absolute;
    top: -1px;
    left: -50px;
  }
  .comment_container .meta {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-right: 90px;
    margin-bottom: 0.5em;
    color: #042b3d;
  }
  .comment_container .meta strong {
    font-weight: inherit;
  }
  .comment_container .star-rating {
    float: right;
  }
  #tab-reviews .comment-respond {
    border: none;
    padding: 0;
  }
  #tab-reviews .form-submit {
    width: auto;
    margin: 0 auto;
  }
  #tab-reviews .woocommerce-noreviews {
    margin-bottom: 20px;
  }
  .related, .upsells, .cross-sells {
    margin-top: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 575px) {
    .related, .upsells, .cross-sells {
      flex-direction: row;
    }
  }
  .related > h2, .upsells > h2, .cross-sells > h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1;
    margin-top: 0.2em;
  }
  @media (max-width: 575px) {
    .related > h2, .upsells > h2, .cross-sells > h2 {
      font-size: 2.1em;
    }
  }
  .related h6.above, .upsells h6.above, .cross-sells h6.above {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    padding-left: 65px;
    position: relative;
    display: inline-block;
    color: #09445a;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
  .related h6.above:before, .upsells h6.above:before, .cross-sells h6.above:before {
    content: '';
    height: 2px;
    width: 50px;
    background: #09445a;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateY(-50%);
  }
  .related .products, .upsells .products, .cross-sells .products {
    margin: 0;
  }
  .related .products .product, .upsells .products .product, .cross-sells .products .product {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .related .cart_totals, .upsells .cart_totals, .cross-sells .cart_totals {
    width: 100%;
    text-align: left;
    margin-bottom: 110px;
  }
  @media (max-width: 575px) {
    .related .cart_totals, .upsells .cart_totals, .cross-sells .cart_totals {
      margin-bottom: 60px;
    }
  }
  .related .cart_totals table, .upsells .cart_totals table, .cross-sells .cart_totals table {
    margin-bottom: 45px;
  }
  .related .cart_totals h2, .upsells .cart_totals h2, .cross-sells .cart_totals h2 {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: -0.3px;
  }
  .related .cart_totals td[data-title='Total'], .upsells .cart_totals td[data-title='Total'], .cross-sells .cart_totals td[data-title='Total'], .related .cart_totals td[data-title='Subtotal'], .upsells .cart_totals td[data-title='Subtotal'], .cross-sells .cart_totals td[data-title='Subtotal'] {
    text-align: right;
  }
  .related .cart_totals th, .upsells .cart_totals th, .cross-sells .cart_totals th, .related .cart_totals tr, .upsells .cart_totals tr, .cross-sells .cart_totals tr {
    padding: 13px 0px;
  }
  .related .cart_totals th, .upsells .cart_totals th, .cross-sells .cart_totals th {
    font-size: 20px;
    line-height: 1;
  }
  .related .cart_totals td:last-child, .upsells .cart_totals td:last-child, .cross-sells .cart_totals td:last-child {
    border-bottom: 1px solid #f2f5f7;
  }
  .related .cart_totals .wc-proceed-to-checkout .button, .upsells .cart_totals .wc-proceed-to-checkout .button, .cross-sells .cart_totals .wc-proceed-to-checkout .button {
    padding: 17px 35px;
  }
  .shop_table.customer_details td[data-title='Total'], .shop_table.order_details td[data-title='Total'], .shop_table.customer_details td[data-title='Subtotal'], .shop_table.order_details td[data-title='Subtotal'] {
    text-align: right;
  }
  .shop_table.customer_details th, .shop_table.order_details th, .shop_table.customer_details tr, .shop_table.order_details tr {
    padding: 13px 0px;
  }
  .shop_table.customer_details th, .shop_table.order_details th {
    font-size: 24px;
    line-height: 1;
  }
  .shop_table.customer_details td:last-child, .shop_table.order_details td:last-child, .shop_table.customer_details tr:last-child td, .shop_table.order_details tr:last-child td {
    border-bottom: 1px solid #f2f5f7;
  }
  /*shop widgets*/
  .widget .woocommerce-Price-amount {
    color: #dd4454;
  }
  .widget_shopping_cart ul, .widget_products ul, .widget_recently_viewed_products ul, .widget_recent_reviews ul, .widget_top_rated_products ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .widget_shopping_cart ul li, .widget_products ul li, .widget_recently_viewed_products ul li, .widget_recent_reviews ul li, .widget_top_rated_products ul li {
    position: relative;
    padding-left: 120px;
    min-height: 100px;
    margin-bottom: 60px;
  }
  .widget_shopping_cart ul li:after, .widget_products ul li:after, .widget_recently_viewed_products ul li:after, .widget_recent_reviews ul li:after, .widget_top_rated_products ul li:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -31px;
    left: 0;
    right: 0;
    background-color: #f2f5f7;
  }
  .widget_shopping_cart ul li:last-child, .widget_products ul li:last-child, .widget_recently_viewed_products ul li:last-child, .widget_recent_reviews ul li:last-child, .widget_top_rated_products ul li:last-child {
    margin-bottom: 90px;
  }
  .widget_shopping_cart ul li a > img, .widget_products ul li a > img, .widget_recently_viewed_products ul li a > img, .widget_recent_reviews ul li a > img, .widget_top_rated_products ul li a > img {
    position: absolute;
    left: 0;
    max-width: 100px;
    top: 0;
  }
  .widget_shopping_cart .product-title, .widget_products .product-title, .widget_recently_viewed_products .product-title, .widget_recent_reviews .product-title, .widget_top_rated_products .product-title {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 16px;
    font-weight: 600;
  }
  .widget_shopping_cart del, .widget_products del, .widget_recently_viewed_products del, .widget_recent_reviews del, .widget_top_rated_products del, .widget_shopping_cart ins, .widget_products ins, .widget_recently_viewed_products ins, .widget_recent_reviews ins, .widget_top_rated_products ins, .widget_shopping_cart .amount, .widget_products .amount, .widget_recently_viewed_products .amount, .widget_recent_reviews .amount, .widget_top_rated_products .amount {
    font-weight: 700;
    text-decoration-color: #999;
    margin-top: 10px;
  }
  .widget_shopping_cart del, .widget_products del, .widget_recently_viewed_products del, .widget_recent_reviews del, .widget_top_rated_products del {
    opacity: 0.7;
    padding-right: 1em;
  }
  .widget_shopping_cart del .amount, .widget_products del .amount, .widget_recently_viewed_products del .amount, .widget_recent_reviews del .amount, .widget_top_rated_products del .amount {
    color: #999;
    font-weight: 400;
  }
  .widget_recent_reviews a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 16px;
    font-weight: 600;
  }
  .widget_price_filter .price_slider {
    margin-bottom: 1em;
  }
  .widget_price_filter .price_slider_amount {
    margin-top: 1em;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .widget_price_filter .price_slider_amount .button {
    float: left;
    margin-top: 15px;
    position: static;
    transform: none;
  }
  .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
  }
  .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.7em;
    height: 0.7em;
    cursor: ew-resize;
    outline: none;
    background: #dd4454;
    box-sizing: border-box;
    margin-top: -0.2em;
    opacity: 1;
    border-radius: 50%;
  }
  .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -2px;
  }
  .widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
  }
  .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background: #dd4454;
  }
  .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
  }
  .widget_price_filter .ui-slider-horizontal {
    height: 0.3em;
  }
  .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
  }
  .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
  }
  .widget_shopping_cart li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 30px;
  }
  .widget_shopping_cart li a + a {
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  .widget_shopping_cart .remove {
    color: #999;
    margin-left: 6px;
    order: 3;
    font-size: 0.9em;
    line-height: 0.75;
    position: absolute;
    top: 43px;
    right: 0;
  }
  .widget_shopping_cart .remove:hover {
    color: #dd4454;
  }
  .widget_shopping_cart .total {
    font-size: 16px;
    line-height: 1.1em;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0em;
    color: #09445a;
    margin: -1.2em 0 2.2em;
  }
  .widget_shopping_cart .total strong {
    font-weight: 600;
  }
  .widget_shopping_cart .quantity {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #dd4454;
  }
  .widget_shopping_cart .button {
    padding-right: 20px;
    padding-left: 20px;
    color: #fff !important;
  }
  .dropdown .widget_shopping_cart {
    white-space: normal;
  }
  .dropdown_product_cat, .dropdown_layered_nav_color {
    width: 100%;
    max-width: 370px;
    -webkit-appearance: none;
    background-image: url(../img/select-arrow.png);
    background-position: 91.4% 50%;
    background-repeat: no-repeat;
  }
  .widget_product_tag_cloud a {
    border: 1px solid #f2f5f7;
    padding: 8px 25px;
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
    background-size: 200% auto;
    margin: 0 6px 10px 0;
    text-align: center;
    display: inline-block;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px !important;
    color: #fff;
  }
  .widget_product_tag_cloud a:last-child {
    margin: 0;
  }
  .widget_product_tag_cloud a:hover {
    background-position: right center;
  }
  .woocommerce-MyAccount-navigation ul, .widget_layered_nav ul, .widget_layered_nav_filters ul, .widget_product_categories ul {
    padding: 0;
    list-style: none;
    width: 100%;
  }
  .woocommerce-MyAccount-navigation ul ul li, .widget_layered_nav ul ul li, .widget_layered_nav_filters ul ul li, .widget_product_categories ul ul li {
    padding-left: 20px;
  }
  .woocommerce-MyAccount-navigation ul ul li:last-child, .widget_layered_nav ul ul li:last-child, .widget_layered_nav_filters ul ul li:last-child, .widget_product_categories ul ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .woocommerce-MyAccount-navigation li, .widget_layered_nav li, .widget_layered_nav_filters li, .widget_product_categories li {
    border-top: 1px solid #f2f5f7;
    border-bottom: 1px solid #f2f5f7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    color: #dd4454;
  }
  .woocommerce-MyAccount-navigation li > a, .widget_layered_nav li > a, .widget_layered_nav_filters li > a, .widget_product_categories li > a {
    flex-grow: 10;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    color: #999;
    padding-left: 15px;
  }
  .woocommerce-MyAccount-navigation li:before, .widget_layered_nav li:before, .widget_layered_nav_filters li:before, .widget_product_categories li:before {
    font-family: 'FontAwesome';
    content: "\f111";
    font-weight: 900;
    font-size: 5px;
    color: #dd4454;
    position: absolute;
    padding-right: 15px;
    top: 25px;
    left: 0;
    display: inline-block;
  }
  .woocommerce-MyAccount-navigation li.is-active, .widget_layered_nav li.is-active, .widget_layered_nav_filters li.is-active, .widget_product_categories li.is-active {
    font-weight: 700;
  }
  .woocommerce-MyAccount-navigation li + li, .widget_layered_nav li + li, .widget_layered_nav_filters li + li, .widget_product_categories li + li {
    border-top: none;
  }
  /*shopping cart*/
  .shop_table {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .shop_table .button {
    margin-top: 0 !important;
  }
  .shop_table .amount {
    font-weight: 700;
    color: #dd4454;
  }
  .shop_table th {
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #f2f5f7;
    text-align: left;
  }
  .shop_table tr, .shop_table td {
    border: none;
    border-bottom: 1px solid #f2f5f7;
  }
  .shop_table .remove {
    line-height: 1;
    color: #999;
    font-size: 0;
    position: relative;
  }
  .shop_table .remove:after {
    content: '\f1f8';
    font-family: "FontAwesome";
    position: absolute;
    top: -15px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 24px;
    line-height: 1;
  }
  .shop_table .product-thumbnail img {
    max-width: 100px;
  }
  .shop_table .quantity {
    display: inline-block;
    position: relative;
  }
  .shop_table .actions {
    padding-top: 2.4em;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }
  .shop_table .coupon {
    float: left;
  }
  @media (max-width: 1199px) {
    .shop_table .coupon {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;
    }
  }
  .shop_table .coupon label {
    display: none;
  }
  .shop_table .coupon [type="text"] {
    width: 250px;
    margin-right: 7px;
  }
  .shop_table .coupon [type="submit"] {
    position: relative;
    top: -1px;
    margin-top: 0;
    transform: none;
    left: 0;
    background-image: linear-gradient(to right, #dd4454 0%, #dd9044 50%, #dd4454 100%);
    background-size: 200% auto;
    transition: 0.5s;
  }
  .shop_table .coupon [type="submit"]:hover {
    background-position: right center;
    color: #fff;
  }
  @media (max-width: 1199px) {
    .shop_table .coupon [type="submit"] {
      margin-top: 20px !important;
    }
  }
  .shop_table .coupon + .button {
    position: static;
    background: transparent;
    border: 3px solid #dd4454;
    color: #042b3d;
  }
  @media (max-width: 991px) {
    .shop_table {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
  .cart-collaterals {
    clear: both;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
  }
  .cart-collaterals h2 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 1.3em;
    line-height: 1;
    letter-spacing: -0.3px;
    text-transform: capitalize;
  }
  .cart-collaterals .cart_totals {
    order: -1;
  }
  .cart-collaterals .cart_totals h2 {
    text-align: left;
  }
  .cart-collaterals .wc-proceed-to-checkout {
    margin-top: 2em;
  }
  /*shop checkout*/
  .checkout .woocommerce-additional-fields {
    margin-top: 30px;
  }
  .checkout:before, .checkout:after {
    display: block;
    content: '';
    clear: both;
  }
  .woocommerce-NoticeGroup {
    margin-bottom: 30px;
  }
  .col2-set {
    margin: 0 -15px;
  }
  .col2-set .col-1, .col2-set .col-2 {
    max-width: none;
  }
  @media (min-width: 992px) {
    .col2-set#customer_details {
      flex-direction: column;
      width: 65%;
      float: left;
    }
    .col2-set ~ #order_review_heading, .col2-set ~ #order_review {
      float: right;
      width: 32%;
      margin-top: 0;
    }
  }
  td.product-remove {
    max-width: 50px;
    width: 50px;
  }
  td.product-name {
    width: 660px;
  }
  td.product-name a {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  #payment ul {
    margin: 1em 0 0;
    list-style: none;
    padding-left: 0;
  }
  #payment [type="radio"] {
    opacity: 0;
    margin-left: -10px;
  }
  #payment label {
    margin-bottom: 0;
  }
  .wc_payment_method .payment_box {
    padding: 0.8em 1em;
    background-color: rgba(150, 150, 150, 0.05);
  }
  .place-order.form-row {
    display: block;
  }
  p.form-row {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
  }
  p.form-row label {
    display: none;
    margin-bottom: 12px;
    letter-spacing: 1px;
    font-size: 14px;
  }
  @media (min-width: 992px) {
    p.form-row.form-row-first {
      width: 100%;
      float: left;
    }
    p.form-row.form-row-last {
      width: 100%;
      float: left;
    }
  }
  p.form-row.notes, p.form-row.form-row-wide {
    width: 100%;
    clear: both;
  }
  p.form-row.notes:last-child, p.form-row.form-row-wide:last-child {
    margin-bottom: 0;
  }
  .woocommerce-info + .checkout_coupon, .woocommerce-info + .login {
    display: none;
    width: 100% !important;
  }
  .lost_reset_password p.form-row.form-row-first {
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
  }
  .lost_reset_password, form.login {
    margin: 0 auto;
  }
  @media (min-width: 992px) {
    .lost_reset_password, form.login {
      width: 50%;
      margin: 0 auto;
    }
  }
  .lost_reset_password .button, form.login .button {
    white-space: pre-wrap;
  }
  /*shop account subpages*/
  .woocommerce-MyAccount-navigation {
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .woocommerce-MyAccount-navigation {
      margin-bottom: 3em;
    }
  }
  @media (min-width: 768px) {
    .woocommerce-MyAccount-navigation {
      padding-left: 60px;
      float: right;
      width: 30%;
    }
    .woocommerce-MyAccount-content {
      float: left;
      width: 70%;
    }
  }
  /*
   order details
   */
  .woocommerce-order-details {
    margin-top: 2.5em;
  }
  .woocommerce-order-details h2 {
    font-size: 40px;
  }
  .woocommerce-customer-details {
    margin-top: 3.5em;
  }
  .woocommerce-customer-details h3 {
    margin-top: 1em;
  }
  ul.wc-item-downloads {
    margin: 0.5em 0;
  }
  ul.wc-item-downloads li {
    list-style: none;
  }
  .order-again {
    margin-top: 2em;
  }
  .woocommerce-shipping-methods li {
    list-style: none;
  }
  .woocommerce-shipping-methods li label {
    font-size: 14px;
  }
  .woocommerce-shipping-methods li label .woocommerce-Price-amount {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
  }